.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-width: 458px;
  
  background-image: url('./assets/background-minecraft.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

.container__info {
  max-width: 458px;
  margin-top: 115px;
}
.container__name {
  max-width: 458px;
}
.title {
  color: #976949;
  font-size: 19px;
  text-align: center;
  margin-bottom:5px;
}
.subtitle {
  color: #976949;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.nameText {
  color: #5ea036;
  margin: 0;
  font-size: 64px;
  text-align: center;
}

.age {
  color: #5ea036;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.container__date {
  display: flex;
  justify-content: space-evenly;
  gap: 0px;
}

.day {
  color: #976949;
  font-size: 26px;
  margin: 0 ;
}
.month {
  color: #976949;
  font-size: 26px;
  margin: 0 ;
}

.date {
    color: #f0a72e;
    font-size: 38px;
    margin: 0;
    text-align: center;
}
.content_locale {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hour {
  color: #976949;
  font-size: 26px;
  margin: 0 0 0;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px;
}
.optionButton {
  width: 50px;
  height: 50px;
  
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.optionButton:hover {
 border: 1px solid #976949;
 width: 50px;
 height: 50px;
}

.buttonText {
  color: #976949;
  font-size: 11px;
  text-align: center;
}